
.loop{
  display: block;
  transform: translateX(100%); 
  animation: move 30s linear infinite;
}

@keyframes move {
  to { transform: translateX(-100%); }
}

body, html{
  overflow-x: hidden;
    height: 100%;
    background: black;
    color: white;
    min-height: 100vh;
    padding: 0;
    margin: 0;

}

.buzo{
  margin-left: 1rem;
  margin-right: 1rem;
}
.remera{
  margin-left: .6rem;
}


